################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AAGitHub/FileContentIndex
/.vs/AAGitHub.slnx/FileContentIndex/1015d6b8-1d22-49fd-9b1c-196a56de119e.vsidx
/.vs/AAGitHub.slnx/FileContentIndex/0c33c79a-2849-496b-bc90-6b5ab4936397.vsidx
/.vs/AAGitHub.slnx/FileContentIndex
